/* /////////////////// */
/* ///////// */
/* ////////////////////////////////Rock'n'Burger//////////////////////////////// */

.errMess {
  font-size: 0.75rem;
}



/* /////////////////// */
/* ///////// */
/* ////////////////////////////////FONT//////////////////////////////// */
@font-face {
  font-family: "Rockit";
  src: url("/font/Rockit.ttf");
}

.Rockit {
  font-family: "Rockit", cursive;
}

@font-face {
  font-family: "Holyrock";
  src: url("/font/Holyrock Italic.ttf");
}

.Holyrock {
  font-family: "Holyrock", cursive;
}

@font-face {
  font-family: "Iamarock";
  src: url("/font/IAmaRock_Free_For_Personal_Use_Only.ttf");
}

.Iamarock {
  font-family: "Iamarock", cursive;
}

@font-face {
  font-family: "Rocks";
  src: url("/font/Rocks Personal Use.ttf");
}

.Rocks {
  font-family: "Rocks", cursive;
}

@font-face {
  font-family: "Rockwild";
  src: url("/font/Rockwild.ttf");
}

.Rockwild {
  font-family: "Rockwild", cursive;
}

@font-face {
  font-family: "Sherocks";
  src: url("/font/SHE ROCKS PERSONAL USE.ttf");
}

.Sherocks {
  font-family: "Sherocks", cursive;
}

@font-face {
  font-family: "Sketch";
  src: url("/font/Sketch_Block.ttf");
}

.Sketch {
  font-family: "Sketch", cursive;
}

.redCustom {
  color: #e30714;
}

.linkCustom {
  color: #e30714;
}

.linkCustom:hover {
  text-decoration: none;
  color: grey;
}

.nav-link-custom {
  color: black;
  margin-left: 1em;
  margin-right: 1em;
}

.nav-link-custom:hover {
  color: #e30714;
  text-decoration: none;
}


.accueil {
  width: 100%;
  height: 85vh;
  background-image: url("/images/burger-2041192_1280.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


.header {
  border-bottom: 1px solid #e30714;
  height: 10vh;
}

.navbar {
  height: 5vh;
}

.active-link {
  color: #e30714;
  margin-left: 1em;
  margin-right: 1em;
}

.active-link:hover {
  color: #e30714;
  text-decoration: none;
}

.footer {
  width: 100%;
  height: 30vh;
  background-color: #e30714;
}