/* /////////////////// */
/* ///////// */
/* ////////////////////////////////Rock'n'Burger//////////////////////////////// */

.errMess {
  font-size: 0.75rem;
}

hr { 
  width: 9em;
}

.textShad {
  text-shadow: 2px 2px 2px black;
}

.plan {
  height: 40vh;
  width: 100%;
  margin: 0 auto;
}

body {
  background-color: #e30714;
}

.Redhr {
  background-color: #e30714;
  height: 5vh;
  width: 100%;
}

/* /////////////////// */
/* ///////// */
/* ////////////////////////////////FONT//////////////////////////////// */
@font-face {
  font-family: "Lilita";
  src: url("/font/LilitaOne-Regular.ttf");
}

.Lilita {
  font-family: "Lilita", cursive;
}

@font-face {
  font-family: "GlacialRegular";
  src: url("/font/GlacialIndifference-Regular.otf");
}

.GlacialRegular {
  font-family: "GlacialRegular", cursive;
}

@font-face {
  font-family: "GlacialBold";
  src: url("/font/GlacialIndifference-Bold.otf");
}

.GlacialBold {
  font-family: "GlacialBold", cursive;
}


@font-face {
  font-family: "Rockit";
  src: url("/font/Rockit.ttf");
}

.Rockit {
  font-family: "Rockit", cursive;
}

@font-face {
  font-family: "Holyrock";
  src: url("/font/Holyrock Italic.ttf");
}

.Holyrock {
  font-family: "Holyrock", cursive;
}

@font-face {
  font-family: "Iamarock";
  src: url("/font/IAmaRock_Free_For_Personal_Use_Only.ttf");
}

.Iamarock {
  font-family: "Iamarock", cursive;
}

@font-face {
  font-family: "Rockwild";
  src: url("/font/Rockwild.ttf");
}

.Rockwild {
  font-family: "Rockwild", cursive;
}

@font-face {
  font-family: "Sherocks";
  src: url("/font/SHE ROCKS PERSONAL USE.ttf");
}

.Sherocks {
  font-family: "Sherocks", cursive;
}

/* /////////////////// */
/* ///////// */
/* ////////////////////////////////COLOR//////////////////////////////// */

.redCustom {
  color: #e30714;
}

/* /////////////////// */
/* ///////// */
/* ////////////////////////////////LINK//////////////////////////////// */

.linkCustom {
  color: #e30714;
}

.linkCustom:hover {
  text-decoration: none;
  color: #e30714;
}

.nav-link-custom {
  color: black;
  margin-left: 1em;
  margin-right: 1em;
}

.nav-link-custom:hover {
  color: #e30714;
  text-decoration: none;
}

.mobileLink a {
  margin-bottom: 0.5em;
}

.mobileLink a:last-child {
  margin-bottom: 0em;
}

/* /////////////////// */
/* ///////// */
/* ////////////////////////////////NAVBAR//////////////////////////////// */

.header {
  border-bottom: 2px solid #e30714;
  height: 14vh;
  display: flex;
  align-items: center;
}

.navSize {
  height: 6vh;
}

.logoHome {
  max-height: 13vh;
  max-width: 10vw;
}

.active-link {
  color: #e30714;
  margin-left: 1em;
  margin-right: 1em;
}

.active-link:hover {
  color: #e30714;
  text-decoration: none;
}

.mobileActive {
  display: none;
}

.navbar-toggler {
  color: #e30714 !important;
  border: none;
}

/* /////////////////// */
/* ///////// */
/* ////////////////////////////////HOMEPAGE//////////////////////////////// */

.accueil {
  position: absolute;
  top: 20vh;
  width: 100%;
  max-height: 90vh;
}

.imageHome {
  max-height: 90vh;
  width: 100%;
}

.btnMenu {
  background-color: #e30714;
  color: white;
}

.btnMenu:hover {
  background-color: white;
  color: #e30714;
  border: 2px solid #e30714;
}

.test {
  width: 100%;
  height: 20vh;
  background-color: #e30714;
}

.test1 {
  width: 100%;
  height: 70vh;
  background-color: white;
}


/* /////////////////// */
/* ///////// */
/* ////////////////////////////////CONTACT//////////////////////////////// */

  .contactThanks {
    min-height: 45vh;
    background-image: url('/images/snack-2635035_1920.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .contactPage {
    min-height: 80vh;
    background-image: url('/images/snack-2635035_1920.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .contactTitle {
    font-size: 1.5em;
  }

  .contactForm {
    background-color: #e30714;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: white;
  }

  .contactInfo {
    background-color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .contactPhone {
    font-size: 2em;
    color: #e30714;
  }

  .contactPhoneMess {
    font-size: 1.2em;
  }

  .btnContact {
    background-color: black;
  }

/* /////////////////// */
/* ///////// */
/* ////////////////////////////////FOOTER//////////////////////////////// */

.footer {
  width: 100%;
  height: 35vh;
  background-color: #e30714;
  padding-top: 5vh;
}

.footer-info {
  height: 25vh;
}

.footer-left {
  border-right: 1px solid white;
  height: 20vh;
}

.footer-right {
  border-left: 1px solid white;
  height: 20vh;
}

.droit {
  font-size: 0.7em;
}

.socialCustom {
  height: 4em;
  width: 4em;
  background-color: white;
  color: #e30714;
  border-radius: 50%;
}

.socialCustom:hover {
  color: white;
  background-color: #e30714;
  text-decoration: none;
}

.mentions {
  text-decoration: underline;
  color: white;
}


/* /////////////////// */
/* ///////// */
/* ////////////////////////////////@MEDIA//////////////////////////////// */
@media (max-width: 1199.98px) {

}

@media (max-width: 991.98px) {

}

@media (max-width: 767.98px) {

 .mobileDisplay {
   display: none;
 }

 .mobileActive {
   display: block;
 }

  .btnMenu {
    background-color: black;
    color: white;
  }

 .contactForm {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 0;
    border-top-right-radius: 5px;
  }

  .contactInfo {
    border-top-right-radius: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .test {
    height: 40vh;
  }

}

@media (max-width: 575.98px) {

}

@media screen and (max-width: 767.98px) and (max-height: 570px) {
  .test {
    height: 60vh;
  }
}