/* /////////////////// */
/* ///////// */
/* ////////////////////////////////Rock'n'Burger//////////////////////////////// */

.errMess {
  font-size: 0.75rem;
}


/* /////////////////// */
/* ///////// */
/* ////////////////////////////////FONT//////////////////////////////// */
@font-face {
  font-family: "Rockit";
  src: url("/font/Rockit.ttf");
}

.Rockit {
  font-family: "Rockit", cursive;
}

@font-face {
  font-family: "Holyrock";
  src: url("/font/Holyrock Italic.ttf");
}

.Holyrock {
  font-family: "Holyrock", cursive;
}

@font-face {
  font-family: "Iamarock";
  src: url("/font/IAmaRock_Free_For_Personal_Use_Only.ttf");
}

.Iamarock {
  font-family: "Iamarock", cursive;
}

@font-face {
  font-family: "Rockwild";
  src: url("/font/Rockwild.ttf");
}

.Rockwild {
  font-family: "Rockwild", cursive;
}

@font-face {
  font-family: "Sherocks";
  src: url("/font/SHE ROCKS PERSONAL USE.ttf");
}

.Sherocks {
  font-family: "Sherocks", cursive;
}

/* /////////////////// */
/* ///////// */
/* ////////////////////////////////COLOR//////////////////////////////// */

.redCustom {
  color: #e30714;
}

/* /////////////////// */
/* ///////// */
/* ////////////////////////////////LINK//////////////////////////////// */

.linkCustom {
  color: #e30714;
}

.linkCustom:hover {
  text-decoration: none;
  color: #e30714;
}

.nav-link-custom {
  color: black;
  margin-left: 1em;
  margin-right: 1em;
}

.nav-link-custom:hover {
  color: #e30714;
  text-decoration: none;
}

.mobileLink a {
  margin-bottom: 0.5em;
}

.mobileLink a:last-child {
  margin-bottom: 0em;
}

.mobileSocial {
  margin-top: -0.5em;
}

/* /////////////////// */
/* ///////// */
/* ////////////////////////////////NAVBAR//////////////////////////////// */

.header {
  border-bottom: 2px solid #e30714;
  height: 14vh;
}

.navSize {
  height: 6vh;
}

.active-link {
  color: #e30714;
  margin-left: 1em;
  margin-right: 1em;
}

.active-link:hover {
  color: #e30714;
  text-decoration: none;
}

.mobileActive {
  display: none;
}

.navbar-toggler {
  color: #e30714 !important;
  border: none;
}

/* /////////////////// */
/* ///////// */
/* ////////////////////////////////HOMEPAGE//////////////////////////////// */

.accueil {
  position: absolute;
  top: 20vh;
  width: 100%;
  max-height: 90vh;
}

.img-fluid {
  max-height: 90vh;
  width: 100%;
}

.btnMenu {
  background-color: #e30714;
  color: white;
}

.btnMenu:hover {
  background-color: white;
  color: #e30714;
  border: 2px solid #e30714;
}

.test {
  width: 100%;
  height: 40vh;
  background-color: #e30714;
}

.test1 {
  width: 100%;
  height: 70vh;
}


/* /////////////////// */
/* ///////// */
/* ////////////////////////////////CONTACT//////////////////////////////// */

  .contactThanks {
    height: 45vh;
  }

  .contactPage {
    height: 80vh;
  }

  .contactForm {
    
  }

/* /////////////////// */
/* ///////// */
/* ////////////////////////////////FOOTER//////////////////////////////// */

.footer {
  width: 100%;
  height: 35vh;
  background-color: #e30714;
  padding-top: 5vh;
}

.footer-info {
  height: 25vh;
}

.footer-left {
  border-right: 1px solid white;
  height: 20vh;
}

.footer-right {
  border-left: 1px solid white;
  height: 20vh;
}

.droit {
  font-size: 0.7em;
}

.socialCustom {
  height: 4em;
  width: 4em;
  background-color: white;
  color: #e30714;
  border-radius: 50%;
}

.socialCustom:hover {
  color: white;
  background-color: #e30714;
  text-decoration: none;
}

.mentions {
  text-decoration: underline;
  color: white;
}


/* /////////////////// */
/* ///////// */
/* ////////////////////////////////@MEDIA//////////////////////////////// */
@media (max-width: 1199.98px) {

}

@media (max-width: 991.98px) {

}

@media (max-width: 767.98px) {

 .mobileDisplay {
   display: none;
 }

 .mobileActive {
   display: block;
 }
}

@media (max-width: 575.98px) {

}