/* /////////////////// */
/* ///////// */
/* ////////////////////////////////Rock'n'Burger//////////////////////////////// */
/* #e30714
   #c10000
   #181517 
*/

.errMess {
  font-size: 0.75rem;
}

hr { 
  width: 9em;
}

.textShad {
  text-shadow: 2px 2px 2px black;
}

.plan {
  height: 50vh;
  width: 100%;
  margin: 0 auto;
}

body {
  background-color: #e30714;
}

.Redhr {
  background-color: #e30714;
  height: 8vh;
  width: 100%;
}

.Eventhr {
  background-color: #e30714;
  height: 1px;
  width: 100%;
}


.mapPoint {
  height: 8vh;
  width: 100%;
}

.mapPointText {
  font-size: 2em;
}

/* /////////////////// */
/* ///////// */
/* ////////////////////////////////FONT//////////////////////////////// */
@font-face {
  font-family: "Lilita";
  src: url("/font/LilitaOne-Regular.ttf");
}

.Lilita {
  font-family: "Lilita", cursive;
}

@font-face {
  font-family: "GlacialRegular";
  src: url("/font/GlacialIndifference-Regular.otf");
}

.GlacialRegular {
  font-family: "GlacialRegular", cursive;
}

@font-face {
  font-family: "GlacialBold";
  src: url("/font/GlacialIndifference-Bold.otf");
}

.GlacialBold {
  font-family: "GlacialBold", cursive;
}


@font-face {
  font-family: "Rockit";
  src: url("/font/Rockit.ttf");
}

.Rockit {
  font-family: "Rockit", cursive;
}

@font-face {
  font-family: "Holyrock";
  src: url("/font/Holyrock Italic.ttf");
}

.Holyrock {
  font-family: "Holyrock", cursive;
}

@font-face {
  font-family: "Iamarock";
  src: url("/font/IAmaRock_Free_For_Personal_Use_Only.ttf");
}

.Iamarock {
  font-family: "Iamarock", cursive;
}

@font-face {
  font-family: "Rockwild";
  src: url("/font/Rockwild.ttf");
}

.Rockwild {
  font-family: "Rockwild", cursive;
}

@font-face {
  font-family: "Sherocks";
  src: url("/font/SHE ROCKS PERSONAL USE.ttf");
}

.Sherocks {
  font-family: "Sherocks", cursive;
}

/* /////////////////// */
/* ///////// */
/* ////////////////////////////////COLOR//////////////////////////////// */

.redCustom {
  color: #e30714;
}

/* /////////////////// */
/* ///////// */
/* ////////////////////////////////LINK//////////////////////////////// */

.linkCustom {
  color: #e30714;
}

.linkCustom:hover {
  text-decoration: none;
  color: #e30714;
}

.nav-link-custom {
  color: black;
  margin-left: 1em;
  margin-right: 1em;
}

.nav-link-custom:hover {
  color: #e30714;
  text-decoration: none;
}

.mobileLink a {
  margin-bottom: 0.5em;
}

.mobileLink a:last-child {
  margin-bottom: 0em;
}
.page-item.active .page-link {
 
  z-index: 1;
 
  color: #fff;
 
  background-color: #e30714;
 
  border-color: #e30714;
 
}

.page-item .page-link {
 
  z-index: 1;
 
  color: #e30714;
 
  background-color: white;
 
  border-color: #e30714;
 
}


/* /////////////////// */
/* ///////// */
/* ////////////////////////////////NAVBAR//////////////////////////////// */

.header {
  border-bottom: 1px solid #e30714;
  height: 14vh;
  display: flex;
  align-items: center;
  z-index: 50;
}

.navSize {
  height: 6vh;
  z-index: 50;
}

.logoHome {
  max-height: 13vh;
  max-width: 10vw;
}

.active-link {
  color: #e30714;
  margin-left: 1em;
  margin-right: 1em;
}

.active-link:hover {
  color: #e30714;
  text-decoration: none;
}

.mobileActive {
  display: none;

}

.navbar-toggler {
  color: #e30714 !important;
  border: none;
}

/* /////////////////// */
/* ///////// */
/* ////////////////////////////////HOMEPAGE//////////////////////////////// */

.accueil {
  position: absolute;
  top: 30vh;
  width: 100%;
  max-height: 90vh;
  margin-top: 5vh;
  z-index: 1;
}

.imageHome {
  max-height: 100vh;
  width: 100%;
  /* filter: blur(1px); */
}

.homePageScrollPage {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
}

.arrowScroll {
  display: none;
  color: #e30714;
}

.arrowScroll:hover {
  color: white;
  text-decoration: none;
}

.byCristal {
  font-size: 0.7em;
}

.textAccueil {
  margin-top: -2vh;
}

.btnMenu {
  background-color: #e30714;
  color: white;
}

.btnMenu:hover {
  background-color: white;
  color: #e30714;
  border: 2px solid #e30714;
}

.test {
  width: 100%;
  height: 8vh;
  background-color: #e30714;
}

.test1 {
  width: 100%;
  height: 100vh;
}


.homePagePhoto {
  width: 100%;
  height: 60vh;
}

.homePhotoTitle {
  width: 100%;
  height: 20vh;
}

.homePhoto {
  line-height : 3.5em;
}

.homePhotoButton {
  height: 60vh;
  width: 100%;
  z-index: 3;
  position: relative;
  margin-top: -60vh;
}

.homePhotoBack {
  height: 60vh;
  width: 100%;
  z-index: 2;
  position: relative;
  margin-top: -60vh;
  opacity: 0.5;
}

.photoButton {
  
}

.btnPhoto {
  background-color: black;
  color: white;
  height: 3.5em;
  width: 12em;
  border-radius: 25px;
  opacity: 0.8;
  border: 2px solid white;
}

.btnPhoto:hover {
  height: 3.5em;
  width: 12em;
  background-color: white;
  color: #e30714;
  border: 2px solid #e30714;
  font-weight: bold;
  text-decoration: none; 
}

.bg01 {
  height: 60vh;
  width: 100%;
  background-image: url('/images/snack-2635035_1920.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg02 {
  height: 60vh;
  width: 100%;
  background-image: url('/images/vintage-791942_1280.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg03 {
  height: 60vh;
  width: 100%;
  background-image: url('/images/guitar-2635044_1280.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* /////////////////// */
/* ///////// */
/* ////////////////////////////////EVENT//////////////////////////////// */

.desktopArticle {
  padding: 10%;
}

.mobileArticle {
  display: none;
}

.t1 {
  min-height: 92%;
}

.dateArticle {
  font-size: 0.8em;
  font-style: italic;
  color: grey;
}

/* /////////////////// */
/* ///////// */
/* ////////////////////////////////Menu//////////////////////////////// */

.menuPage {
  background-color: black;
}

/* /////////////////// */
/* ///////// */
/* ////////////////////////////////PHOTOS//////////////////////////////// */

.photoPage {
  background-image: url('/images/guitar-2635044_1280.jpg');
}

.galeriePic {
  padding: 15vh;
}

.btnPic {
  height: 200px;
  width: 300px;
}

.picT {
  height: 98%;
  width: 98%;
  /* border-radius: 25px; */
}

.picT:hover {
  height: 100%;
  width: 100%;
  -webkit-box-shadow: 4px 6px 31px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 6px 31px -3px rgba(0,0,0,0.75);
  box-shadow: 4px 6px 31px -3px rgba(0,0,0,0.75);
}

.photoPagination {
  width: 100%;
}

.galleryDesktop {
  display: inline-flex;
}

.galleryPad {
  display: none;
}

.galleryMobile {
  display: none;
}

/* /////////////////// */
/* ///////// */
/* ////////////////////////////////CONTACT//////////////////////////////// */

  .contactThanks {
    min-height: 45vh;
    background-image: url('/images/snack-2635035_1920.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .contactPage {
    min-height: 80vh;
    background-image: url('/images/snack-2635035_1920.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .contactForm {
    background-color: #e30714;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: white;
  }

  .contactInfo {
    background-color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .contactPhone {
    font-size: 2em;
    color: #e30714;
  }

  .contactPhoneMess {
    font-size: 1.2em;
  }

  .btnContact {
    background-color: black;
  }

/* /////////////////// */
/* ///////// */
/* ////////////////////////////////FOOTER//////////////////////////////// */

.footer {
  width: 100%;
  min-height: 35vh;
  background-color: #e30714;
  padding-top: 5vh;
}

.footer-info {
  min-height: 25vh;
}

.footer-left {
  border-right: 1px solid white;
  min-height: 20vh;
}

.footer-right {
  border-left: 1px solid white;
  min-height: 20vh;
}

.droit {
  font-size: 0.7em;
}

.socialCustom {
  height: 4em;
  width: 4em;
  background-color: white;
  color: #e30714;
  border-radius: 50%;
}

.socialCustom:hover {
  color: white;
  background-color: #e30714;
  text-decoration: none;
}

.mentions {
  text-decoration: underline;
  color: white;
}


/* /////////////////// */
/* ///////// */
/* ////////////////////////////////@MEDIA//////////////////////////////// */
/* /////////////////// */
/* ///////// */
/* /////////////////// */
/* ///////// */
@media (min-width: 768px) {
  
}

@media (max-width: 1600px) {
  .btnPic {
    height:150px;
    width: 230px;
  }
}

@media (max-width: 1199.98px) {
  .btnPic {
    height:150px;
    width: 230px;
  }


  .galleryDesktop {
    display: none;
  }
  
  .galleryPad {
    display: inline-flex;
  }

}

@media (max-width: 991.98px) {
  .galeriePic {
    padding: 0;
  }

  .desktopArticle {
    padding: 5%;
  }

  .byCristal {
    font-size: 0.5em;
  }

}

@media (max-width: 768px) {
  .arrowScroll i {
    display: none;
  }
}

@media (max-width: 767.98px) {

 .mobileDisplay {
   display: none;
 }

 .mobileActive {
   display: block;
   z-index: 3;
 }

  .btnMenu {
    background-color: black;
    color: white;
  }

  .accueil {
    top: 20vh;
    margin-top: 0;
  }

 .contactForm {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 0;
    border-top-right-radius: 5px;
  }

  .contactInfo {
    border-top-right-radius: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .test {
    height: 40vh;
  }

  .footer-left {
    border: none;
    text-align: center;
  }
  
  .footer-right {
    border: none;
  }

  .homePhoto {
    font-size: 1.3em;
  }

  .btnPic {
    height:100%;
    width: 100%;
  }

  .picT {
    height: 100%;
    width: 100%;
  }

  .textAccueil {
    margin-top: -2vh;
  }

  .desktopArticle {
    display: none;
  }
  
  .mobileArticle {
    display: block;
  }

  .Eventhr {
    width: 50%;
    margin: 0 auto;
  }
  
  .galleryDesktop {
    display: none;
  }
  
  .galleryPad {
    display: none;
  }
  
  .galleryMobile {
    display: block;
  }



}

@media (max-width: 575.98px) {
  .byCristal {
    font-size: 0.5em;
  }


  

  
}

@media screen and (max-width: 767.98px) and (max-height: 570px) {
  .test {
    height: 60vh;
  }

  .homePhoto {
    font-size: 0.8em;
    line-height : 2.8em;
  }

  .accueil {
    top: 20vh;
    margin-top: -2vh;
  }

  .textAccueil {
    margin-top: -6vh;
  }
}

@media screen and (max-width: 767.98px) and (max-height: 670px) {
  .homePhoto {
    font-size: 1.1em;
  }

  .accueil {
    top: 20vh;
    margin-top: 2vh;
  }
}